<div class="container" *ngIf=!forgotpasswordFlag>
    <div class="row">
        <h2 style="text-align:center">Sign In</h2>
        <div class="col">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email">
        </div>
        <div class="col" style="color:#122853">
            <label for="password">Password:&emsp;</label>
            <input type="password" id="password" name="password" [(ngModel)]="password">
        </div>
    </div>
    <div class="row" style="display:flex;justify-content: center;align-items: center;padding-top: 10px;">
        <div class="hero-text-btns">
            <a style="background-color: green;border-radius: 23px;" id="signIn" (click)="signIn()">SignIn</a>
        </div>
    </div>
    <div class="row" style="display:flex;justify-content: center;align-items: center;padding-top: 10px;">
        <div>
            <span class="psw" (click)="forgotPassword()">Forgot <a>password?</a></span>
        </div>
    </div>
    <app-loading-gif *ngIf="loadingFlag"></app-loading-gif>
</div>
<div class="container" *ngIf=forgotpasswordFlag>
    <div class="row">
        <h2 style="text-align:center">Forgot password</h2>
        <div class="col">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [(ngModel)]="email1">
            <p style="color:red;font-size: 13px;text-align: center;">Enter Registered Email to get your password in mail</p>
        </div>
    </div>
    <div class="row" style="display:flex;justify-content: center;align-items: center;padding-top: 10px;">
        <div class="hero-text-btns">
            <a style="background-color: green;border-radius: 23px;" id="signIn" (click)="getPassword()">Get Password</a>
        </div>
    </div>
    <div class="row" style="display:flex;justify-content: center;align-items: center;padding-top: 10px;">
        <div>
            <span class="psw" (click)="sigInPage()"><a>Sign-In?</a></span>
        </div>
    </div>
</div>