<footer>
    <div class="footer-container">
        <div class="footer-company-box">
            <img width="60px" src="../../assets/logo.png">
            <p>Generative AI is not just a tool.</p>
            <p>it's a new way of thinking, where creativity and technology merge to create infinite possibilities</p>
            <div class="footer-social">
                <a href="#" id="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#" id="instagram"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" id="twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" id="youtube"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
        <div class="footer-link-box">
            <strong style="color:#bb0000;">Main Link's</strong>
            <ul>
                <li><a href="#our-team">About</a></li>
                <li><a href="#our-services">Services</a></li>
                <li><a href="">Research</a></li>
                <li><a href="">SignUp</a></li>
                <li><a href="">SignIn</a></li>
            </ul>
        </div>
        <div class="footer-link-box">
            <strong style="color:#55ACEE;">External Link's</strong>
            <ul>
                <li><a href="">Our Product's</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Disclaimer</a></li>
                <li><a href="">Trem's and Condition's</a></li>
            </ul>
        </div>
        <div class="footer-link-box">
            <strong style="color:#f40083;">Developer Team</strong>
            <ul>
                <li><a href="https://www.linkedin.com/in/pavan-kalyan-gudla/" target="_blank">Pavan Kalyan Gudla</a></li>
                <li><a href="https://www.linkedin.com/in/prem-kumar-battineni-b83b11263/" target="_blank">Prem Kumar Battineni</a></li>
                <li><a href="https://www.linkedin.com/in/malisetty-rohith-070b9a20a/" target="_blank">Rohit Malisetty</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <span class="footer-owner">Group 6 Fall 2024</span>
        <span class="copyright">&#169; Copyright 2024 - Lamar University</span>
    </div>
</footer>