<section id="hero">
    <nav class="navigation">
        <img width="60px" src="../../assets/logo.png">
        <input type="checkbox" class="menu-btn" id="menu-btn">
         <div>
            <select id="service" (change)="selectService()" [(ngModel)]="selectedService">
                <option value="gptbot">Gpt Bot</option>
                <option value="imagegenerate">Image Generation</option>
                <option value="imageanalysis">Image Analysis</option>
                <option value="translate">Translation</option>
                <option value="resume">Resume Analysis</option>
            </select>
            <img src="../../assets/User.jpeg" class="user-pic" alt="" (click)="openSettings()" *ngIf="!profileFlag">
            <img [src]="profilePicSrc" class="user-pic" alt="" (click)="openSettings()" *ngIf="profileFlag">
         </div>
    </nav>
    <main class="body-container">
        <button class="toggle-button" (click)="leftContainerEvent()">☰</button>
        <aside id="left" class="flex-item sidebar">
            <div class="leftContainer">
                <div class="leftContainerItem" *ngFor="let i of (transactionsMap | keyvalue : compareFn)" (click)="loadTransaction(i.key)">
                    <p style="font-size: small;color:blueviolet">{{i.key}}</p>
                    <div class="truncate" *ngFor="let j of  getIterableValue(i.value); index as p" style="font-size: x-small;">
                        <p>{{p+1}}. {{j.question}}</p>
                    </div>
                </div>
            </div>
        </aside>
        <aside id="middle" class="flex-item">
            <div class="flex-container">
                <div class="top-div">
                    <div class="msg-inbox" *ngIf="!infoFlag">
                        <section class="gen-ai-section" *ngIf="selectedService != 'translate'">
                            <h1>{{heading}}</h1>
                            <p>{{paragraph}}</p>
                            <div style="display: flex;flex-direction: row;gap: 10px;flex-wrap: wrap;justify-content: center;margin-top: 5%;">
                                <div class="service-box s-box1" (click)="selectService1('gptbot')">
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                                <div class="service-box s-box2" (click)="selectService1('imagegenerate')">
                                    <i class="fa-solid fa-image"></i>
                                </div>
                                <div class="service-box s-box3" (click)="selectService1('imageanalysis')">
                                    <i class="fa-solid fa-project-diagram"></i>
                                </div>
                                <div class="service-box s-box4" (click)="selectService1('translate')">
                                    <i class="fa-solid fa-language"></i>
                                </div>
                                <div class="service-box s-box5" (click)="selectService1('resume')">
                                    <i class="fa-solid fa-file-alt"></i>
                                </div>
                            </div>
                        </section>
                        <section *ngIf="selectedService == 'translate'">
                            <div class="translator">
                                <div class="translator-section">
                                    <div class="language-select">
                                        <select (change)="sourceLangSelect($event)">
                                            <option *ngFor="let i of languageList.languages" [value]="i">{{i}}</option>
                                        </select>
                                        <div class="swap-icon">⇌</div>
                                        <select (change)="targetLangSelect($event)">
                                            <option *ngFor="let i of languageList.languages" [value]="i">{{i}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="translator-section">
                                    <div class="fromTranslate">
                                        <textarea [(ngModel)]="sourceText" name="" id="" cols="50" rows="10"></textarea>
                                    </div>
                                    <div class="toTranslate">
                                        <textarea [(ngModel)]="targetText" name="" id="" cols="50" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="translator-footer">
                                    <button (click)="translate()">Translate</button>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="msg-inbox" *ngIf="infoFlag">
                            <div *ngFor="let i of transactionList">
                                <div>
                                    <div class="outgoing-chats-msg">
                                        <p *ngIf="selectedService == 'imageanalysis'"><img [src]="i.image" alt="No Image"><br>{{i.question}}</p>
                                        <p *ngIf="selectedService != 'imageanalysis'">{{i.question}}</p>
                                    </div>
                                </div>
                                <div class="received-msg">
                                    <div class="received-msg-inbox">
                                        <p *ngIf="selectedService == 'gptbot'">{{i.answer}}</p>
                                        <img *ngIf="selectedService == 'imagegenerate'" [src]="i.answer" alt="No Image">
                                        <a [href]="i.answer" download="genAiImage.jpg" *ngIf="selectedService == 'imagegenerate'">
                                            <i class="fas fa-download downloadButton"></i>
                                        </a>
                                        <p *ngIf="selectedService == 'imageanalysis'">{{i.answer}}</p>
                                        <p *ngIf="selectedService == 'translate'">{{i.answer}}</p>
                                        <p *ngIf="selectedService == 'resume'">{{i.answer}}</p>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="bottom-div">
                    <div class="search-layout" *ngIf="selectedService != 'translate'">
                        <div >
                            <form action="#" class="search-bar">
                                <i class="fa-solid fa-paperclip" (click)="uploadImage()"style="cursor:pointer;" *ngIf="selectedService == 'imageanalysis'"></i>
                                <input type="file" #uploadInput (change)="onFileSelected($event)" accept=".jpg, .jpeg, .png" style="display:none;" />
                                <input type="text" name="chat" placeholder="Message for get Clarified" [(ngModel)]="inputMsg1" autocomplete="off">
                                <button type="submit" (click)="getResponse()">
                                    <i class="fas fa-paper-plane" id="sendMsg"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </aside>
    </main>
</section>

<div class="modal1" [style.display]="userSettingsFlag">
    <div class="modal1-content animate">
            <div class="sub-menu">
                <span class="close" (click)="closeSettingsPopup()">&times;</span>
                <div class="user-info">
                    <div class="nav-user-icon1">
                        <img src="../../assets/User.jpeg" alt="" *ngIf="!profileFlag">
                        <img [src]="profilePicSrc" alt="" *ngIf="profileFlag">
                    </div>
                    <h5>{{this.userObj.firstName}} {{this.userObj.lastName}}</h5>
                </div>
                <hr>
                <a class="sub-menu-link">
                    <p (click)="editProfilePopUp()"><i class="fa fa-user-pen"></i> Edit Profile</p>
                </a>
                <a class="sub-menu-link">
                    <p><i class="fa fa-gear"></i> Settings & Privacy</p>
                </a>
                <a class="sub-menu-link" >
                    <p><i class="fa fa-solid fa-hand-holding-hand"></i> Help & Support</p>
                </a>
                <a class="sub-menu-link" (click)="logOut()">
                    <p id="logout"><i class="fa fa-sign-out-alt"></i> LogOut</p>
                </a>
            </div>
    </div>
</div>

<div id="editProfile" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeEditProfilePopUp()">&times;</span>
      <div style="margin-top: 40px;">
        <h3 style="text-align: center;">
            <span style="color: red;">{{this.userObj.firstName}} {{this.userObj.lastName}}</span> Profile
        </h3>
        <div class="editContainer">
            <div style="width:50%;display:flex;justify-content: center;align-items: center;">
                <div class="container1">
                    <div class="div1">
                        <div class="hidden-element upload-div" id="uploadDiv" style="margin:70px 0 0 0;">
                            <i class="fa fa-camera" style="font-size:50px;"></i>
                            <input type="file" id="fileInput" accept=".jpg, .jpeg, .png">
                        </div>
                    </div>
                    <div class="div2 nav-user-icon">
                        <img src="../../assets/User.jpeg" alt="" *ngIf="!profileFlag">
                        <img [src]="profilePicSrc" alt="" *ngIf="profileFlag">
                    </div>
                </div>
            </div>
            <div style="width:50%;">
                hii
            </div>
            
        </div>
      </div>
    </div>
</div>

<div id="displayTrans" class="animateModal" [style.display]="displayTransFlag">
    <div class="animateModal-content">
        <div class="modal-header">
            <span class="close" (click)="closeDisplayTransPopUp()">&times;</span>
        </div>
        <div class="modal-body"></div>
        <div class="modal-body">
            <table>
                <tr *ngFor="let i of translatorList">
                    <td>{{i.question}}</td><td>{{i.answer}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>